
h1 {
    background-color: darksalmon;
}

h2 {
    background-color: darkolivegreen;
}

li {
    text-align: center;
}

#aboutMe {
    color: black;
}

#projects {
    color: black;
}

#work {
    color: black;
}

#links {
    color: black;
}

#answer {
    display: none;
}