
h1 {
    background-color: darksalmon
}

h2 {
    background-color: darkolivegreen
}

li {
    text-align: center;
}

#AboutMe {
    color: black;
}

#Projects {
    color: black;
}

#Work {
    color: black;
}

#Links {
    color: black;
}

